@import "tailwindcss";

body {
  /* background: rgb(32, 33, 36); */
  background-color: #121220;
  /* color: #e0e0e0; */
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  float: left;
  height: 0;
  pointer-events: none;
}

@layer base {
  button {
    cursor: pointer;
  }
}
